/* 🎯 CAMPOS (casillas tipo Wordle) */
.campo {
    -fx-alignment: center;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #ccc;
    -fx-border-width: 2;
    -fx-background-color: white;
}

/* 🟢 CORRECTO */
.verde {
    -fx-background-color: #43702B;
}

/* 🟡 POSICIÓN INCORRECTA */
.amarillo {
    -fx-background-color: #DB8F01;
}

/* ⚪ NO EXISTE */
.gris {
    -fx-background-color: #74766F;
}

/* 🔢 BOTONES DEL TECLADO */
.tecla {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-radius: 15;
    -fx-pref-width: 70;
    -fx-pref-height: 60;
}

/* 🎨 COLORES DEL TECLADO */
.tecla-verde {
    -fx-background-color: #43702B;
}

.tecla-amarillo {
    -fx-background-color: #DB8F01;
}

.tecla-gris {
    -fx-background-color: #74766F;
}

/* ➕ OPERADORES ENTRE CASILLAS */
.operador {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}


/* 🎯 RESULTADO DE LA ECUACIÓN */
.resultado {
    -fx-background-color: #FF9DDA;
    -fx-text-fill: black;

    -fx-pref-width: 75;
    -fx-pref-height: 75;

    -fx-alignment: center;

    -fx-background-radius: 10;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

/* 🔵 TÍTULO */
.titulo {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

/* 🔘 BOTÓN ICONO (🏠) */
.btn-icon {
    -fx-font-size: 18px;
    -fx-background-radius: 10;
}

/* 🔄 BOTÓN RESTART */
.btn-restart {
    -fx-background-color:  #1D5472;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

/* ✅ BOTÓN CHECK */
.btn-check {
    -fx-background-color: #74b9ff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

/* ❌ BOTÓN DELETE */
.btn-delete {
    -fx-background-color: #636e72;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

/* 📊 TEXTO DE INTENTOS */
.intentos {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

/* 📢 ESTADO (GANASTE / PERDISTE) */
.estado {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

/* 🧩 PANEL DEL TECLADO */
.panel-teclado {
    -fx-padding: 20;
}